.modal {
  position: fixed;
  z-index: 100;
  background: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 90vh;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: 480ms ease;
  transition: 480ms ease;
  z-index: 1111111111;
}

.modal.mobile {
  width: 400px;
}

.modal.desktop-full-screen {
  width: 100%;
  height: 100vh;
}

.modal.desktop-full-screen .circle-inactive {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  background: #fbbf07 !important;
  border: 1px solid #eabc26 !important;
}

.modal.desktop-full-screen .expand {
  position: relative;
}

.modal.desktop-full-screen .expand:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 2px;
  right: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(80, 80, 80, 0.385);
}

.modal.desktop-full-screen .expand:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 2px;
  left: 0px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(80, 80, 80, 0.385);
}

.modal.desktop-full-screen .modal__body {
  position: relative;
}

.modal .modal__header {
  width: 100%;
  padding: 1rem .5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#d1d1d1), to(#f1f1f1));
  background: linear-gradient(0, #d1d1d1, #f1f1f1);
  color: black;
  border-bottom: 1px solid #c2c2c2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal__header p {
  margin-top: 10px;
}

.modal .modal__header .title-container {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  padding: 0 17px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--blueText);
}

.modal .modal__header .title-container h3 {
  font-weight: bold;
  font-size: 14px !important;
}

.modal .modal__header .title-container .view-live-wrapper {
  margin-top: -4px;
  font-size: 11px;
  text-decoration: none;
}

.modal .modal__header h3,
.modal .modal__header p {
  font-size: 16px;
}

.modal .modal__header svg {
  cursor: pointer;
  height: 15px;
}

.modal .modal__header .three-btn-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .modal__header .three-btn-container .btn-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.modal .modal__header .three-btn-container .close {
  background-color: #ff6054;
  border: 1px solid #f15956;
}

.modal .modal__header .three-btn-container .middle {
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#d1d1d1), to(#f1f1f1));
  background: linear-gradient(0, #d1d1d1, #f1f1f1);
  border: none;
  -webkit-box-shadow: inset 0px 0px 2px 1px #0000002b;
          box-shadow: inset 0px 0px 2px 1px #0000002b;
}

.modal .modal__header .three-btn-container .expand {
  background-color: #17cb38;
  border: 1px solid #2bbb53;
}

.modal .modal__header .device-switcher-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .modal__header .device-switcher-container .device-switcher__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  position: relative;
}

.modal .modal__header .device-switcher-container .device-switcher__icon-wrapper.icon-active {
  color: var(--blueText);
}

.modal .modal__header .device-switcher-container .device-switcher__icon-wrapper.icon-active:after {
  content: '';
  position: absolute;
  bottom: -5px;
  background-color: var(--blueText);
  width: 100%;
  height: 2px;
  left: 0;
}

.modal .modal__body {
  position: relative;
  min-height: 76vh;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.modal .modal__body iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.modal .modal__footer {
  padding: 0.5rem;
}

.fade-in-enter {
  opacity: 0;
}

.fade-in-enter-active {
  opacity: 1;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.fade-in-exit {
  opacity: 1;
}

.fade-in-exit-active {
  opacity: 0;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

@media only screen and (max-width: 965px) {
  .modal {
    width: 94%;
  }
}
/*# sourceMappingURL=DevicePreview.css.map */