header {
	position: fixed;
	width: 100%;
	padding: 1em;
	box-shadow: var(--boxShadow);
	z-index: 1111;
	background: #ffffff;
	.header-inner-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: var(--pageMaxWidth);
		margin: 0 auto;
		svg {
			width: 65px;
			display: block;
		}
	}

	.sidedrawer-toggle-button {
		display: none;
	}
}

nav {
	position: relative;
	ul {
		display: flex;
	}

	.nav-item-wrapper {
		margin: 0 2em;
	}
	&#desktop-nav ul {
		// flex-direction: ;
	}
	&#side-drawer-nav ul {
		flex-direction: column;
	}
	.sidedrawer-toggle-button {
		background-color: transparent;
		border: none;
		svg {
			fill: #333;
			width: 35px;
		}
	}
}

@media only screen and (max-width: 600px) {
	#desktop-nav ul {
		display: none !important;
	}

	.sidedrawer-toggle-button {
		display: block !important;
	}
}
