main {
	background-color: #ffffff;
	.main-wrapper {
		max-width: var(--pageMaxWidth);
		margin: 0 auto;
		padding: 80px 1em;
	}
}

// main {
// 	max-width: 1200px;
// 	margin: 0 auto;
// 	padding: 20px 0;
// }
