main {
	background-color: #ffffff;
	.main-wrapper {
		max-width: var(--pageMaxWidth);
		margin: 0 auto;
		// padding: 80px 2.2em;
		padding: 50px 0;
	}

	section {
		padding: 0 1.5em;
	}
	.no-padding {
		padding: 0 !important;
	}
}

// main {
// 	max-width: 1200px;
// 	margin: 0 auto;
// 	padding: 20px 0;
// }
