.header-image-container {
	padding: 110px 0;
	width: 100%;
	color: #fff;
	// background-color: #a59e8c;
	// color: #2c2c2c;
	// background-color: #93a8ac;
	background-color: #212121;
	// background: -o-linear-gradient(45deg, #2d364c 0%, #252d3f 100%);
	// background: linear-gradient(45deg, #222c46 0%, #102554 100%);

	text-align: center;
	h1 {
		// text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 40px;
	}
}

@media only screen and (max-width: 600px) {
	.header-image-container {
		padding: 80px 0;
		h1 {
			// text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 36px;
		}
	}
}
