section#about {
  position: relative;
  // padding: 100px 0;
  padding-top: 100px;
  padding-bottom: 100px;
  // width: 800px;
  // height: calc(100vh - var(--headerHeight));
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // justify-content: center;
  flex-wrap: wrap;
  .about__content {
    position: relative;
    // flex-grow: 1;
    flex-basis: 600px;
    h2 {
      font-size: 64px;
      font-weight: bold;
      line-height: 1.4em;
    }
    p {
      margin: 20px 0;
    }
  }
  .about__graphic {
    // max-width: 630px;
    display: flex;
    // margin: 60px auto;
    flex-basis: 600px;
    // flex-grow: 1;
    // width: 100%;
    max-height: 80vh;
    // margin-top: 30px;
    svg {
      display: block;
      // height: 100%;
      width: 100%;
    }
  }
}

// Graphic
.a5bc420a-77d1-4260-b8e4-ecc2bb7a7d0f,
.b10cad2f-5bdc-4c3a-8d06-ea6c5ec54f4b,
.b1b2c73c-9e21-464e-bc57-29b085fa4b84,
.b41d73f9-0d13-4650-b5ea-fa9c6ebcf0f8,
.e66afa13-fa46-4f1b-8bc3-061a97ff7f87 {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}
.b1b2c73c-9e21-464e-bc57-29b085fa4b84 {
  stroke: #264de4;
}
.fc9a5236-f453-4027-9306-71395085465e {
  fill: #264de4;
}
.a6d67499-94fe-48e0-b2f0-0b01122138f8 {
  fill: #fff;
}
.b10cad2f-5bdc-4c3a-8d06-ea6c5ec54f4b {
  stroke: #e54c21;
}
.e9e8cfc3-cd04-4e93-9678-b77895814d9f {
  fill: #e54c21;
}
.a7d46a36-2de6-43d1-8e6f-1683debb0171 {
  fill: red;
}
.e1442802-9f38-4210-a460-3cf578bb5417 {
  fill: #599636;
}
.b4b027d5-194d-499b-967d-9b3b5453926a {
  fill: #6cac48;
}
.aa810f29-748f-47b3-a965-61319ae4b3c8 {
  fill: #c2bfbf;
}
.f1a52f01-54ca-44f6-829d-95d54c3d89fc {
  fill: #2a639a;
}
.fbe16779-d3b1-419d-876d-1666ca6c58f1 {
  fill: #efd81d;
}
.b5924130-c92b-42cf-859d-aacb5cef6a84 {
  fill: #3b813a;
}
.b834dfc7-277f-4c9e-a656-71c79c5ef852 {
  fill: #5dd2f3;
}
.bcb11178-8b52-410e-aa38-0ecc0f3d9437 {
  fill: #300;
}
.b2b89b4e-5594-4105-a0a9-2c9596b8ef68 {
  fill: #ff9a00;
}
.f89c03f3-ae52-471e-a58f-c01049733a93 {
  fill: #001e36;
}
.fdfd7200-8c70-4e4a-a25f-499e39b3ce9c {
  fill: #31a8ff;
}
.a5bc420a-77d1-4260-b8e4-ecc2bb7a7d0f {
  stroke: red;
}
.b3b0a662-b21c-4e77-a034-63b3d3ea1700 {
  fill: #470137;
}
.a93d6778-f477-442c-86ab-305764475ff6 {
  fill: #ff61f6;
}
.b41d73f9-0d13-4650-b5ea-fa9c6ebcf0f8,
.e66afa13-fa46-4f1b-8bc3-061a97ff7f87 {
  stroke: #000;
}
.e66afa13-fa46-4f1b-8bc3-061a97ff7f87 {
  stroke-dasharray: 4.93 4.93;
}
