.design-project-item-container {
  width: 100%;
  font-size: 12px;
  position: relative;
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  //   margin-bottom: 100px;
  align-items: center;
  justify-content: center;
  // height: 100vh;
  padding: 70px 0;

  .design-project__content {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 4.5rem 3.2rem;
    width: 100%;
    max-width: 640px;
    z-index: 111;
    border-radius: 2px;
    margin: 30px auto;
    .design-project-inner-content {
      // width: 100%;
      // max-width: 500px;
      .company {
        font-size: 13px;
        opacity: 0.65;
      }
      h2 {
        // text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 42px;
        // font-size: 44px;
        //   font-size: 28px;
        line-height: 1.5em;
        margin-top: 5px;
      }
      p.description {
        margin-top: 15px;
        max-width: 440px;
      }
      .content-container {
        // display: grid;
        margin-top: 80px;
        .logo-container {
          display: flex;
          flex-wrap: wrap;
          // margin-top: 12px;
          .logo-wrapper {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;
            /* width: 100%; */
            margin-top: 20px;
            margin-bottom: 5px;
            margin-right: 40px;
            /* max-width: 160px; */
            /* flex-wrap: wrap; */
            height: 50px;
            img {
              width: auto;
              height: 100%;
              object-fit: contain;
            }
          }
        }
        h3 {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
    }
  }

  .design-project__image {
    position: relative;
    display: flex;
    width: 100%;
    flex-basis: 40%;
    max-width: 524px;
    align-items: center;
    // height: 85vh;
    height: 100%;
    max-height: 620px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    img {
      display: block;
      object-fit: cover;
      height: fit-content;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 650px) {
  .design-project-item-container {
    grid-template-columns: 1fr;
    .design-project-inner-content h2 {
      font-size: 28px !important;
    }
    .content-container {
      margin-top: 40px !important;
    }
  }
}
