.design-project-item-container {
  width: 100%;
  font-size: 12px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0;
}

.design-project-item-container .design-project__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 640px;
  z-index: 111;
  border-radius: 2px;
  margin: 30px auto;
}

.design-project-item-container .design-project__content .design-project-inner-content .company {
  font-size: 13px;
  opacity: 0.65;
}

.design-project-item-container .design-project__content .design-project-inner-content h2 {
  letter-spacing: 2px;
  font-size: 42px;
  line-height: 1.5em;
  margin-top: 5px;
}

.design-project-item-container .design-project__content .design-project-inner-content p.description {
  margin-top: 15px;
  max-width: 440px;
}

.design-project-item-container .design-project__content .design-project-inner-content .content-container {
  margin-top: 80px;
}

.design-project-item-container .design-project__content .design-project-inner-content .content-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.design-project-item-container .design-project__content .design-project-inner-content .content-container .logo-container .logo-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* width: 100%; */
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 40px;
  /* max-width: 160px; */
  /* flex-wrap: wrap; */
  height: 50px;
}

.design-project-item-container .design-project__content .design-project-inner-content .content-container .logo-container .logo-wrapper img {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.design-project-item-container .design-project__content .design-project-inner-content .content-container h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.design-project-item-container .design-project__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  max-width: 524px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-height: 620px;
  border-radius: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.design-project-item-container .design-project__image img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .design-project-item-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .design-project-item-container .design-project-inner-content h2 {
    font-size: 28px !important;
  }
  .design-project-item-container .content-container {
    margin-top: 40px !important;
  }
}
/*# sourceMappingURL=DesignProject.css.map */