h1 {
	font-size: 20px;
	font-weight: 600;
}

section {
	margin-top: 30px;
}

.featured-project__secondary {
	display: flex;
	flex-wrap: wrap;
	gap: 22px;
	.project-item-container {
		margin-top: 22px;
		flex-basis: 30%;
		flex-grow: 1;
		flex-shrink: 0;
		min-width: 280px;
	}
}
