h1 {
	font-size: 20px;
	font-weight: 600;
}

section {
	margin-top: 50px;
}

.project-list-container {
	overflow: auto;
	margin: 0 -1.5em;
	padding-left: 1.5em;
}

.featured-project__secondary {
	// height: 260px;
	display: flex;
	gap: 14px;
	flex-wrap: wrap;
	// padding-right: 0 !important;
	.project-item-container {
		margin-top: 18px;
		flex-basis: 30%;
		flex-grow: 1;
		flex-shrink: 0;
		min-width: 280px;
	}
}

@media only screen and (max-width: 600px) {
	.featured-project__secondary {
		flex-wrap: nowrap;
	}
}
