footer {
	// background-color: var(--blue);
	background-color: var(--darkGray);
	border-top: 1px solid #ffffff51;
	width: 100%;
	padding: 30px;
	color: #ffffff;
	// min-height: 30vh;
	text-align: center;
	.inner-wrapper {
		display: flex;
		justify-content: space-around;
	}
}
