.modern-project-item-container {
  width: 100%;
  font-size: 12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: center;
}

.modern-project-item-container.inverse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modern-project-item-container .modern-project__image {
  position: relative;
  width: 100%;
  max-width: 924px;
  height: 85vh;
  max-height: 620px;
  border-radius: 2px;
  border: 1px solid #e2e2e2;
}

.modern-project-item-container .modern-project__image img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.modern-project-item-container .modern-project__image img:hover {
  content: "V I E W";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.modern-project-item-container .modern-project__image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.176908) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.modern-project-item-container .modern-project__image:after:hover {
  content: "V I E W";
}

.modern-project-item-container .modern-project__content {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4.5rem 3.2rem;
  -webkit-box-shadow: 0 1px 7px 3px rgba(0, 0, 0, 0.086);
          box-shadow: 0 1px 7px 3px rgba(0, 0, 0, 0.086);
  width: 100%;
  max-width: 640px;
  top: 50%;
  border-radius: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modern-project-item-container .modern-project__content.right-center {
  right: 0;
}

.modern-project-item-container .modern-project__content.left-center {
  left: 0;
}

.modern-project-item-container .modern-project__content .interaction-icon-container {
  position: absolute;
  top: 25px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modern-project-item-container .modern-project__content .interaction-icon-container .icon-item-wrapper {
  margin: 0 8px;
  cursor: pointer;
}

.modern-project-item-container .modern-project__content .interaction-icon-container .icon-item-wrapper svg {
  display: block;
  height: 14px;
}

.modern-project-item-container .modern-project__content .modern-project-inner-content {
  width: 100%;
}

.modern-project-item-container .modern-project__content .modern-project-inner-content h2 {
  letter-spacing: 2px;
  font-size: 28px;
  line-height: 1.5em;
}

.modern-project-item-container .modern-project__content .modern-project-inner-content p.description {
  margin-top: 15px;
  max-width: 440px;
}

.modern-project-item-container .modern-project__content .modern-project-inner-content .content-container {
  margin-top: 80px;
}

.modern-project-item-container .modern-project__content .modern-project-inner-content .content-container h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.modern-project-item-container .modern-project__content .grid-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 650px) {
  .project-item-container .project-item__image .featured.img-wrapper {
    height: 200px !important;
  }
  .project-item-container .project-item__image .img-wrapper {
    height: 165px !important;
  }
}
/*# sourceMappingURL=ProjectModern.css.map */