.modern-project-item-container {
  width: 100%;
  font-size: 12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: center;
}

.modern-project-item-container.inverse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modern-project-item-container .modern-project__image {
  position: relative;
  width: 100%;
  max-width: 924px;
  height: 85vh;
  max-height: 620px;
  border-radius: 2px;
  border: 1px solid #e2e2e2;
}

.modern-project-item-container .modern-project__image img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.modern-project-item-container .modern-project__image img:hover {
  content: "V I E W";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.modern-project-item-container .modern-project__image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.176908) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.modern-project-item-container .modern-project__image:after:hover {
  content: "V I E W";
}

.modern-project-item-container .modern-project__content {
  position: absolute;
  z-index: 111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4.5rem 3.2rem;
  -webkit-box-shadow: 0 1px 7px 3px rgba(0, 0, 0, 0.086);
          box-shadow: 0 1px 7px 3px rgba(0, 0, 0, 0.086);
  width: 100%;
  max-width: 640px;
  top: 50%;
  border-radius: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modern-project-item-container .modern-project__content::after {
  content: "";
  position: absolute;
  background-color: #ffffffe3;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  top: 0;
  left: 0;
  /* background: red; */
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modern-project-item-container .modern-project__content.right-center {
  right: 0;
}

.modern-project-item-container .modern-project__content.left-center {
  left: 0;
}

.modern-project-item-container .modern-project__content .interaction-icon-container {
  position: absolute;
  top: 25px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 111111111;
}

.modern-project-item-container .modern-project__content .interaction-icon-container .icon-item-wrapper {
  margin: 0 8px;
  cursor: pointer;
}

.modern-project-item-container .modern-project__content .interaction-icon-container .icon-item-wrapper svg {
  display: block;
  height: 14px;
}

.modern-project-item-container .modern-project__content .modern-project-inner-content {
  width: 100%;
  z-index: 111;
}

.modern-project-item-container .modern-project__content .modern-project-inner-content h2 {
  letter-spacing: 2px;
  font-size: 24px;
  line-height: 1.5em;
}

.modern-project-item-container .modern-project__content .modern-project-inner-content p.description {
  margin-top: 15px;
}

.modern-project-item-container .modern-project__content .modern-project-inner-content .content-container {
  margin-top: 40px;
}

.modern-project-item-container .modern-project__content .modern-project-inner-content .content-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modern-project-item-container .modern-project__content .modern-project-inner-content .content-container .logo-container .logo-wrapper {
  position: relative;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 30px 40px 0px;
  height: 32px;
}

.modern-project-item-container .modern-project__content .modern-project-inner-content .content-container .logo-container .logo-wrapper .tooltip {
  position: absolute;
  background-color: #000000a9;
  color: #fff;
  padding: 1px 5px;
  border-radius: 4px;
  top: -15px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
}

.modern-project-item-container .modern-project__content .modern-project-inner-content .content-container .logo-container .logo-wrapper .tooltip:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: -9px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #000000a9 transparent transparent transparent;
}

.modern-project-item-container .modern-project__content .modern-project-inner-content .content-container .logo-container .logo-wrapper svg {
  height: 48px;
  width: auto;
  max-width: 100px;
  max-height: 48px;
}

.modern-project-item-container .modern-project__content .modern-project-inner-content .content-container h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.modern-project-item-container .modern-project__content .grid-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.preview-overlay {
  background-color: rgba(0, 0, 0, 0.345);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.preview-overlay svg {
  display: block;
  width: 80px;
  height: 64px;
  fill: #ffffff;
}

.preview-overlay svg path {
  stroke: #ffffff !important;
}

.preview-overlay svg circle {
  stroke: #ffffff !important;
}

.preview-overlay span {
  color: #ffffff;
  text-shadow: 0 0 6px #000000a1;
}

@media only screen and (max-width: 650px) {
  .modern-project-item-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin-top: 70px;
  }
  .modern-project-item-container .modern-project__image {
    height: 240px;
  }
  .modern-project-item-container .modern-project__content {
    position: relative;
    margin-top: -20%;
    padding: 3.5rem 1.4rem 1rem;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    width: 94%;
  }
  .modern-project-item-container .modern-project__content .modern-project-inner-content h2 {
    font-size: 22px;
  }
  .modern-project-item-container .modern-project__content .modern-project-inner-content .content-container {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=ProjectModern.css.map */