.modern-project-item-container {
  width: 100%;
  font-size: 12px;
  position: relative;
  display: flex;
  //   margin-bottom: 100px;
  height: 100vh;
  align-items: center;
  scroll-snap-align: center;

  &.inverse {
    justify-content: flex-end;
  }
  .modern-project__image {
    position: relative;
    //  height: 100%;
    //  height: 210px;
    width: 100%;
    max-width: 924px;
    //   max-width: 1200px;
    height: 85vh;
    max-height: 620px;
    border-radius: 2px;
    border: 1px solid rgb(226, 226, 226);
    //  box-shadow: 34px 34px 3px 1px rgb(130 130 130 / 9%);
    img {
      display: block;
      object-fit: cover;
      height: 100%;
      width: 100%;
      &:hover {
        content: "V I E W";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #ffffff;
        // background-color: rgba(0, 0, 0, 0.056);
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background-color: rgba(0, 0, 0, 0.056);

      background: rgb(0, 0, 0);
      background: -moz-radial-gradient(
        circle,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.17690826330532217) 100%
      );
      background: -webkit-radial-gradient(
        circle,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.17690826330532217) 100%
      );
      background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.17690826330532217) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
      &:hover {
        content: "V I E W";
      }
    }
  }

  .modern-project__content {
    position: absolute;
    // background-color: #ffffffcf;
    // backdrop-filter: blur(8px);
    z-index: 111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 3.2rem;
    box-shadow: 0 1px 7px 3px rgba(0, 0, 0, 0.086);
    width: 100%;
    max-width: 640px;
    top: 50%;
    //  min-width: 620px;
    border-radius: 2px;
    transform: translateY(-50%);
    &::after {
      content: "";
      position: absolute;
      background-color: #ffffffe3;
      -webkit-backdrop-filter: blur(6px);
      backdrop-filter: blur(6px);
      top: 0;
      left: 0;
      /* background: red; */
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    &.right-center {
      right: 0;
      // right: -100%;
      // transform: translate(-100%, -50%);
    }
    &.left-center {
      left: 0;
      // left: -100%;
      // transform: translate(100%, -50%);
    }
    .interaction-icon-container {
      position: absolute;
      top: 25px;
      right: 15px;
      display: flex;
      z-index: 111111111;
      .icon-item-wrapper {
        margin: 0 8px;
        cursor: pointer;
        svg {
          display: block;
          height: 14px;
        }
      }
    }
    .modern-project-inner-content {
      width: 100%;
      z-index: 111;
      // max-width: 500px;
      h2 {
        // text-transform: uppercase;
        // font-size: 24px;
        letter-spacing: 2px;
        // font-size: 32px;
        font-size: 24px;
        line-height: 1.5em;
      }
      p.description {
        margin-top: 15px;
        // max-width: 580px;
      }
      .content-container {
        margin-top: 40px;
        .logo-container {
          display: flex;
          flex-wrap: wrap;
          // margin-top: 12px;
          .logo-wrapper {
            position: relative;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            /* width: 100%; */
            padding: 40px 30px 40px 10px;
            // padding: 40px 20px;
            // margin: 20px 30px 30px 0;

            /* max-width: 160px; */
            /* flex-wrap: wrap; */
            height: 32px;
            .tooltip {
              position: absolute;
              background-color: #000000a9;
              color: #fff;
              padding: 1px 3px;
              border-radius: 4px;
              top: -15px;
              width: min-content;
              white-space: nowrap;
              // box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.137);
              &:before {
                content: "";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                left: 50%;
                bottom: -9px;
                transform: translateX(-50%);

                border-width: 5px;
                border-style: solid;

                border-color: #000000a9 transparent transparent transparent;
              }
            }
            svg {
              height: 48px;
              width: auto;
              max-height: 48px;
            }
          }
        }
        h3 {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
    }

    .grid-3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media only screen and (max-width: 650px) {
  .modern-project-item-container {
    flex-direction: column;
    height: auto;
    margin-top: 70px;
    .modern-project__image {
      height: 240px;
    }
    .modern-project__content {
      position: relative;
      margin-top: -10%;
      padding: 3.5rem 1.4rem;
      transform: translateY(0);
      width: 96%;
      .modern-project-inner-content {
        h2 {
          font-size: 22px;
        }
        .content-container {
          margin-top: 30px;
        }
      }
    }
    .modern-project__content.right-center {
      // right: -5px;
    }
    .modern-project__content.left-center {
      // left: -5px;
    }
  }
}
